$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

html {
  margin: 0;
  padding: 0;
}

body {
  padding: 0;
  background-image: url(../images/backgrounds-ball.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; 
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

  .header {
    border-bottom: none;
  }

  label {
    color: white;
  }

  .bg-warning {
    font-size: 20px;
    color: red;
    border-style: ridge;
    border-color: red;
    padding-left: 10px;
  }


  .bg-success {
    font-size: 20px;
    color: green;
    border-style: ridge;
    border-color: green;
    padding-left: 10px;
  }

  .team-name {
    /*margin-left: 200px;*/
    /*margin-top: -53px;*/
    color: silver;
    -webkit-animation-duration: bounceIn 4s;
}

.teamNameLogo {
  margin-left: -6%;
  margin-top: -0.8%;
}

div[ng-view].ng-enter {
    -webkit-animation: fadeIn 0.5s;
    animation: fadeIn 0.5s;
}

div[ng-view].ng-leave {
    -webkit-animation: fadeOut 0.5s;
    animation: fadeOut 0.5s;
}

.channel-saved-alert {
   -webkit-animation-duration: flash 4s;
   text-align: center;
}

.video-frame:hover {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
}

.video-frame {
  margin-top: 4px;
}

.favorite-channels p {
  color: blue;
  font-weight: bold;
}

.video-details:hover {
  background: #000033;
  border: outset;
}

.carousel {
  width: 90%;
  margin: 1%;
}

.random-videos .col-md-3 a img {
  border: solid;
}

.random-videos .col-md-3 a img:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

#social-list {
  margin-left: 28%;
  margin-right: 30%;
  margin-top: -1%;
  margin-bottom: 1%;
}

#social-list a img:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

#social-list a {
  margin-left: 15px;
}


.search {
  position: relative;
}
.search::before {
  position: absolute;
  top: 0;
  left: -120%;
  z-index: 2;
  display: block;
  content: '';
  width: 20%;
  height: 100%;
  background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
  background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
  -webkit-transform: skewX(-25deg);
  transform: skewX(-25deg);
}
.search:hover::before {
  -webkit-animation: shine .75s;
  animation: shine .75s;
}
@-webkit-keyframes shine {
  100% {
    left: 125%;
  }
}
@keyframes shine {
  100% {
    left: 95%;
  }
}

.search-result {
  background: black;
  border: ridge;
}

.favorite-channels {
  margin-top: 10px;
  background: black;
  border: solid;
}

.navbar-nav li a {
  color: white;
  font-weight: bold;
}

.item {
  margin: 0;
  background: black;
  .col-md-1 a .img-responsive {
  height: 110px;
  }
}

.item .col-md-1 a .img-responsive:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.col-md-1 {
  padding-top: 10px;
  width: 10%;
  height: 100px;
  margin: 0;
}

.carousel {
  background: black;
  height: 150px;
  margin-left: 0;
}

.carousel-inner {
  margin-left: -10px;
  height: 130px;
}

.carousel-control {
  margin: 0;
  padding:0;
  width: 2px;
  height: auto;
}