<!-- 
<p>{{videos}}</p>
 -->
<h2>Recent videos for</h2>
<div class="team-name"><h2>{{chanName}}</h2></div>

<button class="btn btn-sm btn-primary" ng-click="saveChannel()" style="margin-bottom: 10px">Favorite</button>

<div ng-messages="channelSaved">
    <p class="channel-saved-alert bg-success text-success" ng-message="success">
        {{chanName}} has been saved to your list of favorite channels!
    </p>
    <p class="channel-saved-alert bg-warning text-warning" ng-message="duplicate">
        {{chanName}} is already saved in your list of favorite channels!
    </p>
</div>

<div ng-repeat="vid in videos.items | limitTo: 10">
	<iframe class="video-frame" width="280" height="157" ng-src="{{ trustThisLink('https://www.youtube.com/embed/' + vid.id.videoId) }}" frameborder="0" allowfullscreen></iframe>
	<h4>{{vid.snippet.title}}</h4>
	<p>{{vid.snippet.description}}</p>
	<hr>
</div>
