<div ng-app class="jumbotron" ng-controller="MainCtrl">
  <h1>NBA APP</h1>
  <p class="lead">
    <div>
        <p>
          <button class="btn btn-lg btn-primary" ng-click="refreshCurrent()">Refresh</button>
        </p>

        <!-- <div ng-bind-html="trustedHtml"></div> -->
        <!-- <div>{{nbaVideoResults}}</div> -->
        <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/{{items[0].videoId}}" frameborder="0" allowfullscreen></iframe> -->


        <div ng-bind-html="currentVid"></div>

    </div>
  </p>
</div>