<div ng-controller="topCarouselCtrl">

	<div class="container carousel">
      <div id="myCarousel" class="carousel slide" style="width: 1350px; margin: 0">
          <!-- Carousel items -->
          <div class="carousel-inner">
              <div class="item active">
                  <div class="row">
                      <div class="col-md-1">
                        <a href="" ng-click="findChannelByImg('images/pacers')"><img src="images/pacers.png" alt="Image" class="img-responsive"></a>
                      </div>
                      <div class="col-md-1">
                        <a href="" ng-click="findChannelByImg('images/phil.png')"><img src="images/phil.png" alt="Image" class="img-responsive"></a>
                      </div>
                      <div class="col-md-1">
                        <a href="" ng-click="findChannelByImg('images/pist.png')"><img src="images/pist.png" alt="Image" class="img-responsive"></a>
                      </div>
                      <div class="col-md-1">
                        <a href="" ng-click="findChannelByImg('images/raps.png')"><img src="images/raps.png" alt="Image" class="img-responsive"></a>
                      </div>
                      <div class="col-md-1">
                        <a href="" ng-click="findChannelByImg('images/rocks.png')"><img src="images/rocks.png" alt="Image" class="img-responsive"></a>
                      </div>
                      <div class="col-md-1">
                        <a href="" ng-click="findChannelByImg('images/spurs.png')"><img src="images/spurs.png" alt="Image" class="img-responsive"></a>
                      </div>
                      <div class="col-md-1">
                        <a href="" ng-click="findChannelByImg('images/suns.png')"><img src="images/suns.png" alt="Image" class="img-responsive"></a>
                      </div>
                      <div class="col-md-1">
                        <a href="" ng-click="findChannelByImg('images/timber.png')"><img src="images/timber.png" alt="Image" class="img-responsive"></a>
                      </div>
                      <div class="col-md-1">
                        <a href="" ng-click="findChannelByImg('images/wars.png')"><img src="images/wars.png" alt="Image" class="img-responsive"></a>
                      </div>
                      <div class="col-md-1">
                        <a href="" ng-click="findChannelByImg('images/wiz.png')"><img src="images/wiz.png" alt="Image" class="img-responsive"></a>
                      </div>                                          
                  </div>
                  <!--/row-->
              </div>
              <!--/item-->

              <div class="item">
                  <div class="row">
                      <div class="col-md-1">
                        <a href="" ng-click="findChannelByImg('images/blaze.png')"><img src="images/blaze.png" alt="Image" class="img-responsive"></a>
                      </div>
                      <div class="col-md-1">
                        <a href="" ng-click="findChannelByImg('images/bobs.png')"><img src="images/bobs.png" alt="Image" class="img-responsive"></a>
                      </div>
                      <div class="col-md-1">
                        <a href="" ng-click="findChannelByImg('images/bucks.png')"><img src="images/bucks.png" alt="Image" class="img-responsive"></a>
                      </div>
                      <div class="col-md-1">
                        <a href="" ng-click="findChannelByImg('images/bulls.png')"><img src="images/bulls.png" alt="Image" class="img-responsive"></a>
                      </div>
                      <div class="col-md-1">
                        <a href="" ng-click="findChannelByImg('images/cavs.png')"><img src="images/cavs.png" alt="Image" class="img-responsive"></a>
                      </div>
                      <div class="col-md-1">
                        <a href="" ng-click="findChannelByImg('images/celts.png')"><img src="images/celts.png" alt="Image" class="img-responsive"></a>
                      </div>
                      <div class="col-md-1">
                        <a href="" ng-click="findChannelByImg('images/clips.png')"><img src="images/clips.png" alt="Image" class="img-responsive"></a>
                      </div>
                      <div class="col-md-1">
                        <a href="" ng-click="findChannelByImg('images/denv.png')"><img src="images/denv.png" alt="Image" class="img-responsive"></a>
                      </div>
                      <div class="col-md-1">
                        <a href="" ng-click="findChannelByImg('images/griz.png')"><img src="images/griz.png" alt="Image" class="img-responsive"></a>
                      </div>
                      <div class="col-md-1">
                        <a href="" ng-click="findChannelByImg('images/hawks.png')"><img src="images/hawks.png" alt="Image" class="img-responsive"></a>
                      </div>
                  </div>
                  <!--/row-->
              </div>
              <!--/item-->

              <div class="item">
                  <div class="row">
                      <div class="col-md-1">
                        <a href="" ng-click="findChannelByImg('images/heat.png')"><img src="images/heat.png" alt="Image" class="img-responsive"></a>
                      </div>
                      <div class="col-md-1">
                        <a href="" ng-click="findChannelByImg('images/horns.png')"><img src="images/horns.png" alt="Image" class="img-responsive"></a>
                      </div>
                      <div class="col-md-1">
                        <a href="" ng-click="findChannelByImg('images/jazz.png')"><img src="images/jazz.png" alt="Image" class="img-responsive"></a>
                      </div>
                      <div class="col-md-1">
                        <a href="" ng-click="findChannelByImg('images/kings.png')"><img src="images/kings.png" alt="Image" class="img-responsive"></a>
                      </div>
                      <div class="col-md-1">
                        <a href="" ng-click="findChannelByImg('images/knicks.png')"><img src="images/knicks.png" alt="Image" class="img-responsive"></a>
                      </div>
                      <div class="col-md-1">
                        <a href="" ng-click="findChannelByImg('images/lakers.png')"><img src="images/lakers.png" alt="Image" class="img-responsive"></a>
                      </div>
                      <div class="col-md-1">
                        <a href="" ng-click="findChannelByImg('images/magic.png')"><img src="images/magic.png" alt="Image" class="img-responsive"></a>
                      </div>
                      <div class="col-md-1">
                        <a href="" ng-click="findChannelByImg('images/mavs.png')"><img src="images/mavs.png" alt="Image" class="img-responsive"></a>
                      </div>
                      <div class="col-md-1">
                        <a href="" ng-click="findChannelByImg('images/nets.png')"><img src="images/nets.png" alt="Image" class="img-responsive"></a>
                      </div>
                      <div class="col-md-1">
                        <a href="" ng-click="findChannelByImg('images/okc.png')"><img src="images/okc.png" alt="Image" class="img-responsive"></a>
                      </div>
                  </div>
                  <!--/row-->
              </div>
              <!--/item-->

          	</div>
          	<!--/carousel-->
          <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
          <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
      </div>
      <!--/myCarousel-->

    </div>

</div>